<header>
  <h1>Ben Header'im</h1>

  <nav>
    <a href="/" class="<%= page === 'home' ? 'active' : '' %>">Ana Sayfa</a> |
    <a href="/about" class="<%= page === 'about' ? 'active' : '' %>"
      >Hakkımda</a
    >
  </nav>
</header>
